/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
      background-color: #020f3b; /* Dark background */
      color: #cdc9c9; /* Light text */
    }
  
    input[type="text"], textarea {
      background-color: #333333; /* Dark background for inputs */
      color: #cdc9c9; /* Light text */
      border: 1px solid #0077B6;
    }
  
    button.main {
      background-color: #0f2f57; /* Adjusted color for dark mode */
      color: #cdc9c9;
    }
  
    button.main:hover {
      background-color: #0056b3; /* Adjusted hover color for dark mode */
    }
  
    .coffee-button {
      background-color: #8a3923;
      color: #cdc9c9;
    }
  
    .coffee-button:hover {
      background-color: #a74616;
    }
  
    button.main.import {
        background-color: #0f2f57;
    }

    button.main.import:hover {
        background-color: #0056b3;
    }    

    button.main.export{
        background-color: #0f2f57;
    }

    button.main.export:hover {
        background-color: #0056b3;
    }    

    h2, h3 {
      color: #1682a5; /* Light blue for headings */
    }


    #github-link {
      color: #1682a5;
    }
    /* Add dark mode styles for other elements if necessary */
  
    li {
        background-color: #0f2f57;
        color: #cdc9c9;
        }
        
  select#prompt-dropdown {
      background-color: #333333; /* Dark background for dropdown */
      color: #ffffff; /* Light text */
    }
}
