/* styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  h2, h3 {
    margin-top: 0;
    color: #0077B6;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .promptslistheader {
    margin-bottom:10px;
  }

/* Adjust list item spacing for left aligned list */
#prompt-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  padding-bottom: 5px;
  padding-left:0px;
  margin-bottom: 2px;
}

  #prompt-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 5px;
  }
  
  #prompt-list li span {
    flex-grow: 1;
    text-align: left;
    margin-right: 10px;
    font-size: 13px;
    border-radius: 8px;
    padding: 5px;
  }
  

.title {
  display: flex;
  gap: 10px;
  vertical-align: middle;
  border-radius: 8px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


/* Dropdown styles */
select#prompt-dropdown {
  background-color: #ffffff; /* Default light mode background */
  color: #000000; /* Default light mode text */
  border-radius: 8px;
}


li {
background-color: white;
border-radius: 8px;
padding:3px;
font-weight:600;
color: #3f3f3f;
}
