/* styles.css */

body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
  }
  
  h2, h3 {
    margin-top: 0;
  }
  
  form {
    margin-bottom: 10px;
  }
  
  input[type="text"], textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
  
  button {
    margin-top: 5px;
  }
  
  #prompt-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  #prompt-list li span {
    flex-grow: 1;
  }
  
  #prompt-list button {
    margin-left: 5px;
  }
  
  #cancel-edit-button {
    margin-left: 5px;
    background-color: #f0f0f0;
  }
  
  .coffee-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top:10px;
    background-color: #7f330b;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .coffee-button:hover {
    background-color: #ff651a;
  }
